@using PetMe.Models
@model LoginViewModel
@{
    ViewBag.Title = "Efetuar login";
}

<div>
    <div>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @style = "margin-left: 20%; margin-right: 20%; margin-top: 8%; text-align:center", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1 style="padding-bottom: 1rem;">PetMe - Logo</h1>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group" style="margin-left: 30%; margin-right: 30%">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group" style="margin-left: 30%; margin-right: 30%;">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group form-check">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
                        @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Efetuar login" class="btn btn-primary" />
                </div>
                <p>
                    @Html.ActionLink("Registrar-se como novo usuário", "Register")
                </p>
                @* Ativar isso assim que você tiver a confirmação de conta ativada para a funcionalidade de redefinição de senha
                    <p>
                        @Html.ActionLink("Esqueceu sua senha?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div style="margin-left: 20%; margin-right: 20%; text-align:center">
        <p>Ou se preferir</p>
        <button type="submit" class="btn btn-primary" style="background-color: #3b5998!important">Login via Facebook</button>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}