@model PetMe.Models.Pet
@{
    ViewBag.Title = "PetForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PetForm</h2>

@using (Html.BeginForm("SalvarPet", "Pets"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.Name)
        @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Age)
        @Html.TextBoxFor(p => p.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Age)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Subspecies)
        @Html.TextBoxFor(p => p.Subspecies, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Subspecies)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Color)
        @Html.TextBoxFor(p => p.Color, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Color)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Weight)
        @Html.TextBoxFor(p => p.Weight, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Weight)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Size)
        @Html.TextBoxFor(p => p.Size, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Size)
    </div>
    <div class="custom-checkbox">
        <label>
            @Html.CheckBoxFor(p => p.Vaccinated) Vacinado?
        </label>
    </div>
    <div class="custom-checkbox">
        <label>
            @Html.CheckBoxFor(p => p.Castrated) Castrado?
        </label>
    </div>
    <div class="custom-checkbox">
        <label>
            @Html.CheckBoxFor(p => p.Trained) Adestrado?
        </label>
    </div>
    <div class="custom-checkbox">
        <label>
            @Html.CheckBoxFor(p => p.SpecialCare) Cuidados Especiais?
        </label>
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.DetailsSpecCare)
        @Html.TextAreaFor(p => p.DetailsSpecCare, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.DetailsSpecCare)
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.MoreDetails)
        @Html.TextAreaFor(p => p.MoreDetails, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.MoreDetails)
    </div>
    @*@Html.AntiForgeryToken()*@
    @Html.HiddenFor(p => p.DateOfPublication)
    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.DonoId)
    @Html.HiddenFor(p => p.Active)
    <button class="btn btn-primary" type="submit">Salvar</button>

    @*@if(Model.Id != 0) {
            <button id="js-delete" data-pet-id="@Model.Id" class="btn btn-secondary">Excluir</button>
        }*@
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#pet-form").on("click", "#js-delete", function () {
                var button = $(this);

                bootbox.confirm("Deseja mesmo excluir esse pet?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/pets/" + button.attr("data-pet-id"),
                            method: "DELETE",
                            succes: function () {
                                toastr.success("Rentals sucessfully recorded!");
                            },
                            complete: function (data) {
                                window.location.href = "@Url.Action("PetList", "Panel")"
                            }
                        });
                    }
                })
            });
        });
    </script>
}



