@model PetMe.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/Resources/blank-profile-picture.png" alt="" width="85" height="85">
        <h2>@Model.UserName (@Model.Email)</h2>
    </div>

    @using (Html.BeginForm("SaveUser", "Profile", FormMethod.Post, htmlAttributes: new { @style = "margin-left: 26%; text-align:center" }))
    {
        @Html.HiddenFor(u => u.UserName)
        @Html.HiddenFor(u => u.Email)

        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Minhas Informações</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", @placeholder = "Primeiro nome" })
                        @Html.ValidationMessageFor(u => u.FirstName)
                    </div>
                    <div class="col-md-6 mb-3">
                        @Html.TextBoxFor(u => u.Surname, new { @class = "form-control", @placeholder = "Sobrenome" })
                        @Html.ValidationMessageFor(u => u.Surname)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        @Html.TextBoxFor(u => u.Birthdate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date", @placeholder = "Data de nascimento" })
                        @Html.ValidationMessageFor(u => u.Birthdate)
                    </div>
                    <div class="col-md-6 mb-3">
                        @Html.DropDownListFor(u => u.GenderId, new SelectList(Model.Genders, "Id", "Name"), "Selecione o Gênero", new { @class = "form-control custom-select d-block w-100" })
                        @Html.ValidationMessageFor(u => u.GenderId)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        @Html.TextBoxFor(u => u.DocumentNumber, new { @class = "form-control", @placeholder = "CPF" })
                        @Html.ValidationMessageFor(u => u.DocumentNumber)
                    </div>
                    <div class="col-md-4 mb-3">
                        @Html.TextBoxFor(u => u.ZipCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.ZipCode)
                    </div>
                    <div class="col-md-4 mb-3">
                        <button type="button" class="btn btn-primary btn-block">Buscar Cep</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <div class="input-group">
                            @Html.TextBoxFor(u => u.Address, new { @class = "form-control", @placeholder = "Endereço" })
                            @Html.ValidationMessageFor(u => u.Address)
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="input-group">
                            @Html.TextBoxFor(u => u.AddressNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(u => u.AddressNumber)
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    @Html.TextBoxFor(u => u.AddressComplement, new { @class = "form-control", @placeholder = "Complemento (Opcional)" })
                    @Html.ValidationMessageFor(u => u.AddressComplement)
                </div>
                <div class="mb-3">
                    @Html.TextBoxFor(u => u.District, new { @class = "form-control", @placeholder = "Bairro" })
                    @Html.ValidationMessageFor(u => u.District)
                </div>
                <div class="mb-3">
                    @Html.TextBoxFor(u => u.CountyView, new { @class = "form-control", @placeholder = "Cidade" })
                    @Html.ValidationMessageFor(u => u.CountyView)
                </div>
                <div class="mb-3">
                    @Html.TextBoxFor(u => u.StateView, new { @class = "form-control", @placeholder = "Estado" })
                    @Html.ValidationMessageFor(u => u.StateView)
                </div>

                @Html.HiddenFor(u => u.Id)
                @*@Html.AntiForgeryToken();*@
                <div class="mb-3">
                    <button class="btn btn-primary btn-lg btn-block">Salvar Informações</button>
                </div>
            </div>
        </div>
    }
</div>