@model PetMe.ViewModels.UserProfileViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Minhas Informações</h2>

@using (Html.BeginForm("SaveUser", "Profile"))
{
    <div class="form-group">
        @Html.LabelFor(u => u.UserName)
        @Html.TextBoxFor(u => u.UserName, new { @class = "form-control", @disabled = true })
        @Html.HiddenFor(u => u.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Email)
        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @disabled = true })
        @Html.HiddenFor(u => u.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.FirstName)
        @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Surname)
        @Html.TextBoxFor(u => u.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Surname)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Birthdate)
        @Html.TextBoxFor(u => u.Birthdate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date" })
        @Html.ValidationMessageFor(u => u.Birthdate)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.GenderId)
        @Html.DropDownListFor(u => u.GenderId, new SelectList(Model.Genders, "Id", "Name"), "Selecione o Gênero", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.DocumentNumber)
        @Html.TextBoxFor(u => u.DocumentNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.DocumentNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.ZipCode)
        @Html.TextBoxFor(u => u.ZipCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.ZipCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.Address)
        @Html.TextBoxFor(u => u.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.AddressNumber)
        @Html.TextBoxFor(u => u.AddressNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.AddressNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.AddressComplement)
        @Html.TextBoxFor(u => u.AddressComplement, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.AddressComplement)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.District)
        @Html.TextBoxFor(u => u.District, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.District)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.CountyView)
        @Html.TextBoxFor(u => u.CountyView, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.CountyView)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.StateView)
        @Html.TextBoxFor(u => u.StateView, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.StateView)
    </div>
    @Html.HiddenFor(u => u.Id)
    //@Html.AntiForgeryToken();
    <button class="btn btn-primary">Salvar</button>
}

