@model PetMe.ViewModels.AdoptionViewModel
@{
    ViewBag.Title = "AdoptionInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdoptionInfo</h2>

<p>Pet: @Model.PetInfo.Name</p>
<p>Dono: @Model.OwnerInfo.FirstName</p>
<p>Pessoa Interessada: @Model.InterestedPartyInfo.FirstName</p>

<p>Mensagens</p>
<div id="mails">
    @{ Html.RenderAction("RenderMails", new { id = Model.Adoption.Id }); }
</div>

@if (Model.Adoption.AdoptionStatusId == 1)
{
    if (Model.Adoption.PetOwnerId == Model.CurrentUserId)
    {
        <a href="@Url.Action("AcceptAdoption", new { id = Model.Adoption.Id, adoptionVM = Model })">Aceitar Proposta</a>
    }
    else
    {
        <p>Aguardando aceitação da proposta</p>
    }
    <a href="@Url.Action("CancelAdoption", new { id = Model.Adoption.Id })">Cancelar Adoção</a>
}
else if (Model.Adoption.AdoptionStatusId == 2)
{
    <div id="message-box">
        <label>Digite uma mensagem:</label>
        <textarea id="text"></textarea>
        <button id="enviar-mensagem">Enviar</button>
    </div>

    if (!Model.Adoption.InterestedUserPermission && !Model.Adoption.PetOwnerPermission)
    {
        if (Model.OwnerInfo.Id == Model.CurrentUserId)
        {
            <a href="@Url.Action("StartTransfer", new { id = Model.Adoption.Id})">Doar Pet</a>
        }
        else
        {
            <a href="@Url.Action("StartTransfer", new { id = Model.Adoption.Id})">Receber Pet</a>
        }
    }

    else if (Model.Adoption.PetOwnerId == Model.CurrentUserId)
    {
        if (Model.Adoption.PetOwnerPermission && !Model.Adoption.InterestedUserPermission)
        {
            <p> Aguardando aceite da pessoa interessada</p>
        }
        else
        {
            <p>A outra parte interessada está aguardando seu aceite</p>
            <a href="@Url.Action("StartTransfer", new { id = Model.Adoption.Id})">Doar Pet</a>
        }
    }

    else if (Model.Adoption.InterestedUserId == Model.CurrentUserId)
    {
        if (Model.Adoption.InterestedUserPermission && !Model.Adoption.PetOwnerPermission)
        {
            <p>Aguardando aceite do dono do pet</p>
        }
        else
        {
            <p>A outra parte interessada está aguardando seu aceite </p>
            <a href="@Url.Action("StartTransfer", new { id = Model.Adoption.Id})">Receber Pet</a>
        }
    }
    <a href="@Url.Action("CancelAdoption", new { id = Model.Adoption.Id })">Cancelar Adoção</a>
}
else if (Model.Adoption.AdoptionStatusId == 3)
{
    <p>Essa adoção foi finalizada</p>
}
else if (Model.Adoption.AdoptionStatusId == 4)
{
    <p>Essa adoção foi cancelada</p>
}
else if (Model.Adoption.AdoptionStatusId == 5)
{
    <div id="message-box">
        <label>Digite uma mensagem:</label>
        <textarea id="text"></textarea>
        <button id="enviar-mensagem">Enviar</button>
    </div>

    if (!Model.Adoption.InterestedUserPermission && !Model.Adoption.PetOwnerPermission)
    {
        <a href="@Url.Action("FinishAdoption", new { id = Model.Adoption.Id})">Finalizar Adoção</a>
    }

    else if (Model.Adoption.PetOwnerId == Model.CurrentUserId)
    {
        if (Model.Adoption.PetOwnerPermission && !Model.Adoption.InterestedUserPermission)
        {
            <p> Aguardando aceite da pessoa interessada</p>
        }
        else
        {
            <p>A outra parte interessada está aguardando seu aceite</p>

            <a href="@Url.Action("FinishAdoption", new { id = Model.Adoption.Id })"> Finalizar Adoção </a>
        }
    }

    else if (Model.Adoption.InterestedUserId == Model.CurrentUserId)
    {
        if (Model.Adoption.InterestedUserPermission && !Model.Adoption.PetOwnerPermission)
        {
            <p>Aguardando aceite do dono do pet</p>
        }
        else
        {
            <p>A outra parte interessada está aguardando seu aceite </p>

            <a href="@Url.Action("FinishAdoption", new { id = Model.Adoption.Id })">Finalizar Adoção</a>
        }
    }
    <a href="@Url.Action("CancelAdoption", new { id = Model.Adoption.Id })">Cancelar Adoção</a>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#message-box").on("click", "button#enviar-mensagem", function () {

                var mensagem = {
                    text: $("#text").val(),
                    adoptionId: @Model.Adoption.Id,
                    petOwnerId: "@Model.OwnerInfo.Id",
                    interestedPartyId: "@Model.InterestedPartyInfo.Id",
                    currentUserId: "@Model.CurrentUserId"
                };

                $.ajax({
                    url: "@Url.Action("SendMessage", "Adoptions")",
                    type: "get",
                    data: mensagem,
                    success: function (result) {
                        $("#mails").html(result);
                        $("#text").val("");
                    }
                });
            });
        });
    </script>
}




