@model PetMe.ViewModels.AdoptionMailViewModel
@{
    ViewBag.Title = "AdoptionConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mande uma mensagem para o dono e confirme a adoção</h2>

@using(Html.BeginForm("ConfirmAdoptionRequest", "Adoption"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.Text)
        @Html.TextAreaFor(a => a.Text, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(a => a.SenderId)
    @Html.HiddenFor(a => a.ReceiverId)
    @Html.HiddenFor(a => a.AnimalId)
    <button type="submit" class="btn-primary btn">Enviar</button>
}
